<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer class="footer fixed-bottom bg-dark text-light py-2 small">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="text-start text-truncate" id="footer-left"></div>
            <div class="text-end" id="footer-right">
                <span class="ms-2" id="ws-icon" title="État WS">⛓️‍💥</span>
            </div>
        </div>
    </footer>
    <script crossorigin="anonymous"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
    </script>
</div>
</html>