<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu">
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid align-items-center">
            <a class="navbar-brand mb-0 h1" th:href="@{/}">TDA</a>
            <a class="btn btn-outline-light btn-sm" sec:authorize="hasRole('REDACTEUR')" th:href="@{/edit}">Réunion</a>
            <a class="btn btn-outline-light btn-sm" sec:authorize="hasRole('REDACTEUR')" th:href="@{/partie}">Partie</a>
            <div class="ms-auto d-flex">
                <a class="btn btn-outline-light btn-sm" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                <form class="d-inline ms-2 m-0 p-0" method="post" sec:authorize="isAuthenticated()" th:action="@{/logout}">
                    <input th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"
                           type="hidden"/>
                    <button class="btn btn-outline-warning btn-sm" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
</div>
</html>
