<!DOCTYPE HTML>
<html lang="fr" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: header-css}"></div>
    <title th:text="${title}">Titre</title>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<main class="container pt-4" style="padding-top: 4rem; padding-bottom: 3.5rem;">
    <div class="mb-3">
        <h4>Ajouter une partie</h4>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>